---
---
@import "base";

main#main
{
	width:100%;
}

div.project-container
{
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

section.proj-tile
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: #444444;
	padding: 20px 20px;
	text-align: left;
	border-radius: 3px;
	word-wrap: break-word;
	float:left;
	margin:5px;
	
	flex-basis: 22em;
}

section.proj-tile.self
{
	background-color: transparent;
	border-style: dashed;
	border-color: #666666;
	border-width: 0.15em;
	color: #aaaaaa;
}

/*
section.proj-tile.solo
{
	width:calc(100% - 3em);
	max-width: 100%;
}

section.proj-tile.duo
{
	width:auto;
	max-width: 43.5%;
	min-width: calc(50% - 50px);
}

@media (max-width: 840px)
{
	section.proj-tile.duo
	{
		width:calc(100% - 3em);
		max-width: 100%;
	}
}*/

h1.proj-name
{
	margin:0px;
	font-size: 26px;
	font-weight: bold;
}

a.proj-button
{
	background-color: #333333;
	color:#dddddd;
	border: none;
	padding: 10px 14px;
	margin-right: 10px;
	border-radius: 3px;
	float: left;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	align-self: flex-end;
}

div.proj-bottom-bar
{
	justify-content: flex-start;
	align-items: center;
	display: flex;
}

p.proj-status
{
	font-weight: 600;
	margin:0;
}

h1.cent-head
{
	font-size: 3em;
}