    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
	
	<link rel="canonical" href="https:{{ site.url }}{{ page.url | replace:'index.html',''}}" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="https:{{ site.url }}{{ page.url | replace:'index.html',''}}" />
    <meta property="og:title" content="{{ site.name }}" />
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <!--<meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />-->
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}