---
layout: default
---
<script src="PetListGen.js"></script>
<script src="wrapper.js"></script>
<h1>OSRS Pet List Generator</h1>
<p>Either check the boxes for the pets you have, then input the killcount/xp you got them on in the corresponding text box; or upload a pets.txt file; then press Generate.</p>

<form action="" id="petForm">
<div id="input-actions">
	<label for="uploadPets" class="button">Upload pets.txt</label>
	<input onchange="handleUpload()" class="hidden" type="file" accept=".txt" id="uploadPets"></input>
	<button type="button" id="Generate">Generate</button>
	<br/>
	<br/>
	<a href="javascript:void();"id="petsHelp">What is pets.txt?</a>
	<p class="hidden" id="petsHelpBody">pets.txt is a file that stores the pet killcounts and experience in a way that this website can read. You can find a blank pets.txt <a href="https://gitlab.com/hydrox6/OSRS-PetListGen/blob/master/example_pets.txt">here.</a></p>
</div>
<div id="result-actions" class="hidden">
	<a href="#" class="button" id="saveImage" download="pets.png">Save Image</a>
	<button type="button" id="Go Back">Go Back</button>
</div>
<br/>
<div id="inputSection">
	<div id="options">
		<div class="option">
			<span>Scale Factor:</span>
			<input type="text" id="scaleFactor" value="2" size=2/>
		</div>
		<div class="option">
			<span>Distance Between Images:</span>
			<input type="text" id="distance" value="10" size=3/>
		</div>
		<div class="option">
			<span>Grid Size:</span>
			<input type="text" id="gridX" value="6" size=2/>
			<span>x</span>
			<input type="text" id="gridY" value="8" size=2/>
		</div>
	</div>

	<div id="background">
	</div>
</div>

<div id="processingSection">
</div>

</form>
<div id="result" class="hidden">
	<p>Congratulations! Your very own fancy Pet List!</p>
	<p>Either Right Click/Long Tap and save the image, or use the button above.</p>
	<img id="resultImage">
	<canvas id="resultCanvas" class="hidden"></canvas>
</div>
<div id="frameStore">
	<img id="frame_l" src="frame/l.png">
	<img id="frame_r" src="frame/r.png">
	<img id="frame_t" src="frame/t.png">
	<img id="frame_b" src="frame/b.png">
	<img id="frame_tl" src="frame/tl.png">
	<img id="frame_tr" src="frame/tr.png">
	<img id="frame_bl" src="frame/bl.png">
	<img id="frame_br" src="frame/br.png">
	<img id="wtmrk" src="watermark.png">
</div>