---
---
@import "base";

button, .button
{
	background-color: #3f3f3f;
	color:#dddddd;
	border: none;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 15px;
	margin-right: 10px;
	cursor:pointer;
	border-radius: 4px;
}



div#background
{
	margin-top:20px;
	background-color: #3f3f3f;
	padding: 20px;
	border-radius: 5px;
}

div.petWrapper
{
	position: relative;
	display: inline-block;
	/*margin-right:20px;*/
	width:40%;
	white-space: nowrap;
	text-align: left;
	margin-right:1em;
	margin-left:1em;
	padding-bottom: 5px;
	padding-top: 5px;
	vertical-align: top;
}

div.petLabelRoot > span
{
	white-space: normal;
}

div.petInputRoot > input, div.petWrapper > img
{
	vertical-align: middle;
	image-rendering: optimizeSpeed; 
}

div.petLabelRoot 
{
	width:70%;
	float:left;
}

div.petLabelRoot > img
{
	float:left;
} 

div.petInputRoot
{
	vertical-align: middle;
	float:right;
	height:100%;
	width: 30%;
}

div.petInputRoot > input[disabled]
{
	background-color: #777777;
}

div.petInputRoot > input[type="checkbox"]
{
	-ms-transform: 		scale(1.6);
	-moz-transform: 	scale(1.6);
	-webkit-transform: 	scale(1.6);
	-o-transform: 		scale(1.6);
	margin-top: 4px;
	margin-right: 5px;
}


div#options
{
	display: block;
	margin-top:10px;
	margin-bottom: -10px;
}

div.option
{
	display: inline-block;
	margin-right: 20px;
}


div#frameStore
{
	display:none;
	width: 0%;
	height: 0%;
}

main#main
{
	position: relative;
	width: calc(100% - 3em);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (orientation:portrait)
{
	div#background
	{
		/*width:530px;
		max-width: 530px;*/
	}
	div.petWrapper
	{
		width:calc(100% - 3em);
		max-width: 100%;
	}
}

@media (max-width: 25em) and (orientation:portrait)
{
	div#background
	{
		position: absolute;
		left:-18%;
		width:120%;
		max-width: 120%;
	}
	button, .button
	{
		margin-top: 15px;
	}
	div.option
	{
		margin-right: 0px;
	}
	div.petWrapper
	{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #dddddd;
		padding-left: 10px;
		padding-right: 10px;
	}
	div.petWrapper > input, div.petWrapper > img
	{
		width:64px;
	}

	div.petInputRoot
	{
		position: absolute;
		bottom:0;
		right:0;
	}
}

.hidden
{
	display: none;
}

img#resultImage
{
	position: absolute;
	left:0;
	width:100%;
}