<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name=viewport content="initial-scale=1">
    <style>
      body{background-color: #222222;}
      a{color:#dddddd;}
    </style>
    <link rel="stylesheet" type="text/css" href="./style.css" />

  </head>

  <body>
    <div class="container">
      <header class="site-header">
        <h1 class="site-title">
          <a href="{{ site.baseurl }}/">
            <span>{{ site.name | slice: 0, 2 }}</span><span>{{ site.name | slice: 2, 2 }}</span><span>{{ site.name | slice: 4, 2 }}</span><span>{{ site.name | slice: 6, 2 }}</span><span>{{ site.name | slice: 8, 2 }}</span>
          </a>
        </h1>
        <p class="site-tagline">{{ site.description }}</p>
        <nav class="nav">
          <!--
          <ul>
            <li class="nav-item">
            </li>
          </ul>-->
        </nav>
      </header>
      <div class="line"></div>
      <main id="main">
        {{content}}
      </main>
    </div>

    {% include social.html %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </body>
</html>
